<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerHP0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,64}</string>
                <key>spriteSourceSize</key>
                <string>{300,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerHP1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,64}</string>
                <key>spriteSourceSize</key>
                <string>{300,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{300,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerHP2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,64}</string>
                <key>spriteSourceSize</key>
                <string>{300,64}</string>
                <key>textureRect</key>
                <string>{{0,128},{300,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerHP3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,64}</string>
                <key>spriteSourceSize</key>
                <string>{300,64}</string>
                <key>textureRect</key>
                <string>{{0,192},{300,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerHP4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,64}</string>
                <key>spriteSourceSize</key>
                <string>{300,64}</string>
                <key>textureRect</key>
                <string>{{0,256},{300,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerHP5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,64}</string>
                <key>spriteSourceSize</key>
                <string>{300,64}</string>
                <key>textureRect</key>
                <string>{{0,320},{300,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerHP6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,64}</string>
                <key>spriteSourceSize</key>
                <string>{300,64}</string>
                <key>textureRect</key>
                <string>{{0,384},{300,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerHP.png</string>
            <key>size</key>
            <string>{300,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccf5485a4ac888c0254c6136325a696d:4e11d578818e998ebcce043eddca97a5:c3b51dd5d12c24e1a139274e4bdd243b$</string>
            <key>textureFileName</key>
            <string>playerHP.png</string>
        </dict>
    </dict>
</plist>
