<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,213}</string>
                <key>spriteSourceSize</key>
                <string>{120,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,213}</string>
                <key>spriteSourceSize</key>
                <string>{120,213}</string>
                <key>textureRect</key>
                <string>{{1,216},{120,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,213}</string>
                <key>spriteSourceSize</key>
                <string>{120,213}</string>
                <key>textureRect</key>
                <string>{{1,431},{120,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,213}</string>
                <key>spriteSourceSize</key>
                <string>{120,213}</string>
                <key>textureRect</key>
                <string>{{1,646},{120,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,213}</string>
                <key>spriteSourceSize</key>
                <string>{120,213}</string>
                <key>textureRect</key>
                <string>{{1,861},{120,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{122,1075}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ec104c48f3e9b00265efa9d61f01fa3:7d9663deb443af7a10a9642c2116b781:18fcf80557a1b693f695decb3ad03513$</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
