<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemyHP0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,30}</string>
                <key>spriteSourceSize</key>
                <string>{200,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyHP1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,30}</string>
                <key>spriteSourceSize</key>
                <string>{200,30}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyHP2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,30}</string>
                <key>spriteSourceSize</key>
                <string>{200,30}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyHP3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,30}</string>
                <key>spriteSourceSize</key>
                <string>{200,30}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyHP4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,30}</string>
                <key>spriteSourceSize</key>
                <string>{200,30}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyHP5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,30}</string>
                <key>spriteSourceSize</key>
                <string>{200,30}</string>
                <key>textureRect</key>
                <string>{{1000,0},{200,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyHP6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,30}</string>
                <key>spriteSourceSize</key>
                <string>{200,30}</string>
                <key>textureRect</key>
                <string>{{1200,0},{200,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyHP7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,30}</string>
                <key>spriteSourceSize</key>
                <string>{200,30}</string>
                <key>textureRect</key>
                <string>{{1400,0},{200,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemyHP.png</string>
            <key>size</key>
            <string>{1600,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1179ddb5f4f5ae8e22b7193888a53dc5:6ba1ae65bbd74a319683705e9ad2b399:b8e675ff99fdfefb9d0e413c106cf885$</string>
            <key>textureFileName</key>
            <string>enemyHP.png</string>
        </dict>
    </dict>
</plist>
