<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{457,806}</string>
                <key>spriteSourceSize</key>
                <string>{479,852}</string>
                <key>textureRect</key>
                <string>{{1,1},{457,806}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{457,764}</string>
                <key>spriteSourceSize</key>
                <string>{479,852}</string>
                <key>textureRect</key>
                <string>{{809,1},{457,764}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{457,734}</string>
                <key>spriteSourceSize</key>
                <string>{479,852}</string>
                <key>textureRect</key>
                <string>{{1575,1},{457,734}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{457,764}</string>
                <key>spriteSourceSize</key>
                <string>{479,852}</string>
                <key>textureRect</key>
                <string>{{1,460},{457,764}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{457,806}</string>
                <key>spriteSourceSize</key>
                <string>{479,852}</string>
                <key>textureRect</key>
                <string>{{767,460},{457,806}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{2033,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbc1d06fd9b946f3fb3937db4e6f9b08:decaa8dae54e3f2222481a848e69105a:18fcf80557a1b693f695decb3ad03513$</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
